<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
                       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>CFinder</string>
    <key>CFBundleShortVersionString</key>
    <string>2.0.6</string>
    <key>CFBundleGetInfoString</key>
    <string>CFinder -- cfinder.org</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1448M</string>
    <key>CFBundleIconFile</key>
    <string>cfinder.icns</string>
    <key>Java</key>
    <dict>
      <key>MainClass</key>
      <string>elte.community.visual.MainFrame</string>
      <key>JVMVersion</key>
      <string>1.3+</string>
      <key>ClassPath</key>
      <array>
        <string>$JAVAROOT/colt.jar</string>
        <string>$JAVAROOT/community.jar</string>
        <string>$JAVAROOT/epsgraphics.jar</string>
        <string>$JAVAROOT/freehep-export-2.1.1.jar</string>
        <string>$JAVAROOT/freehep-graphics2d-2.1.1.jar</string>
        <string>$JAVAROOT/freehep-graphicsio-2.1.1.jar</string>
        <string>$JAVAROOT/freehep-graphicsio-emf-2.1.1.jar</string>
        <string>$JAVAROOT/freehep-graphicsio-java-2.1.1.jar</string>
        <string>$JAVAROOT/freehep-graphicsio-pdf-2.1.1.jar</string>
        <string>$JAVAROOT/freehep-graphicsio-ps-2.1.1.jar</string>
        <string>$JAVAROOT/freehep-graphicsio-svg-2.1.1.jar</string>
        <string>$JAVAROOT/freehep-graphicsio-swf-2.1.1.jar</string>
        <string>$JAVAROOT/freehep-graphicsio-tests-2.1.1.jar</string>
        <string>$JAVAROOT/freehep-io-2.0.2.jar</string>
        <string>$JAVAROOT/freehep-swing-2.0.3.jar</string>
        <string>$JAVAROOT/freehep-util-2.0.2.jar</string>
        <string>$JAVAROOT/freehep-xml-2.1.1.jar</string>
        <string>$JAVAROOT/jas-plotter-2.2.jar</string>
        <string>$JAVAROOT/jcommon-1.0.0-pre2.jar</string>
        <string>$JAVAROOT/jdom-1.0.jar</string>
        <string>$JAVAROOT/jfreechart-1.0.0-pre2.jar</string>
        <string>$JAVAROOT/junit-4.3.1.jar</string>
        <string>$JAVAROOT/openide-lookup-1.9-patched-1.0.jar</string>
        <string>$JAVAROOT/prefuse.jar</string>
      </array>
      <key>VMOptions</key>
      <string>-Xmx512m -Xss1m</string>
      <key>WorkingDirectory</key>
      <string>$APP_PACKAGE/Contents/Resources/</string>
      <key>Properties</key>
      <dict>
        <key>com.apple.mrj.application.apple.menu.about.name</key>
        <string>CFinder</string>
        <key>apple.awt.rendering</key>
        <string>speed</string>
        <key>apple.laf.useScreenMenuBar</key>
        <string>true</string>
      </dict>
    </dict>
  </dict>
</plist>
