EXECUTABLE_DIR	algs/
TMP_DIR tmp/

BasicAlgs BigClam;LinkCommunity;GCECommunityFinder;OSLOM;DEMON;CFinder;NISE;
candidates LinkCommunity;GCECommunityFinder;OSLOM;DEMON;CFinder;BigClam;SSE;NISE;
	LinkCommunity_Dir algs/LinkCommunity/
		LinkCommunity_type	c++
		LCparam c++;python
	GCECommunityFinder_Dir algs/GCECommunityFinder/build/GCECommunityFinder 
	DEMON_Dir algs/DEMON/
	CFinder_Dir algs/CFinder/CFinderWinLinux/
		CFinder_k 4
	OSLOM_Dir algs/OSLOM2/
    SSE_Dir algs/SSE/
        SSE_k 100
        SSE_seeds graclus_centers
        candidateSSESeeds graclus_centers;spread_hubs
    NISE_Dir algs/NISE/
        NISE_k 100
        NISE_seeds hrc_graclus
        candidateNISESeeds hrc_graclus;sphub
        NISE_expansion ppr
        candidateNISE_expansion ppr;vppr
        NISE_nworkers 20 
    BigClam_Dir algs/BIGCLAM/
            BigClam_c -1
            BigClam_min_c 5
            BigClam_max_c 200
            BigClam_nc 10
            BigClam_nt 20
            BigClam_sa 0.3
            BigClam_sb 0.3
